<form class="example-form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" >
    <mat-label>Add task</mat-label>
    <input matInput formControlName="task_name" placeholder="Ex. Clean room" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Task Description</mat-label>
    <textarea matInput formControlName="task_description" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Task Start</mat-label>
    <input matInput type="time" formControlName="task_start">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Task End</mat-label>
    <input matInput type="time" formControlName="task_end">
  </mat-form-field>

  <button mat-raised-button color="primary">Add</button>
</form>

<mat-spinner></mat-spinner>
